@import '../mixins.scss';
@import '../variables.scss';

.opk_search-page {
    padding-top: 55px;
    padding-bottom: 55px;

    .custom_page_header_section {
        max-height: 290px;

        .page-width .page_header_heading {
            margin-bottom: 0;
            font-family: $font_nexa_shadow;
            font-weight: 900;
            line-height: 1.33;
            letter-spacing: -1px;
            text-transform: uppercase;

            @include breakPoints($tablet, min) {
                font-size: 60px;
            }

            @include breakPoints($laptop, $tablet) {
                font-size: 48px;
            }

            @include breakPoints($tablet, max) {
                font-size: 34px;
            }
        }

        .breadcrumbs__link {
            font-family: $font_inter;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.05;
        }

        .filters-toolbar__label,
        .filters-toolbar__input {
            font-family: $font_inter;
        }

        @include breakPoints($tablet, min) {
            margin-bottom: 95px;
            padding-bottom: 55px;
        }

        @include breakPoints($tablet, max) {
            margin-bottom: 60px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .search-sidebar_form {
        margin-bottom: 90px;

        .search-bar__input {
            padding: 10px 18px;
            font-family: $font_inter;
            background-color: transparent;
        }
    }

    .collection-sidebar {
        .category-filters-area-section {
            padding: 50px 0;

            &:first-of-type {
                padding: 0 0 50px 0;
            }
        }

        .category-filters-section-title {
            font-family: $font_nexa_bold;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: normal;
        }

        .category-filters-area-list {
            li {
                padding-bottom: 20px;
                font-family: $font_inter;
                font-size: 16px;
                font-weight: 400;

                &:first-of-type {
                    margin-top: 20px;
                }

                &:last-of-type {
                    padding-bottom: 1px;
                }

                &.advanced-filter {
                    &.active-filter {
                        a {
                            &::before {
                                border-color: $orange;
                                background-color: $orange;
                            }
                        }
                    }

                    a {
                        &::before {
                            top: 1px;
                        }
                    }
                }
            }

            &.active {
                margin-top: 0;
            }
        }

        .filter-group-display__price-range {
            padding: 0 0 20px 0;

            input {
                border-color: $gray;
                background-color: transparent;
                color: $gray;
            }
        }

        .price_range_container {
            height: 16px;

            .price_range {
                border-radius: 8px;
                background-color: $light_gray;
            }

            input[type='range']::-webkit-slider-thumb {
                width: 20px;
                height: 20px;
                background-color: $orange;
            }
        }
    }

    .product-card {
        .product-item__action-list {
            .btn {
                margin: 0;
            }
        }

        @include breakPoints($tablet, min) {
            padding: 20px 20px 45px;
        }

        @include breakPoints($tablet, max) {
            padding: 10px 10px 20px;
        }
    }

    .product-label {
        font-family: $font_inter;
        font-size: 13px;
        font-weight: 500;

        &.product-label--on-sale {
            border-color: $orange;
            color: $orange;
        }
    }

    .product-item--media {
        @include breakPoints($tablet, min) {
            margin-bottom: 10px;
        }

        @include breakPoints($tablet, max) {
            margin-bottom: 5px;
        }
    }

    .product-card__title,
    .product-card__link-title {
        margin-bottom: 20px;
        font-family: $font_nexa_bold;
        font-weight: 700;
        line-height: 1.18;
        letter-spacing: normal;

        @include breakPoints($tablet, min) {
            font-size: 22px;
        }

        @include breakPoints($tablet, max) {
            font-size: 19px;
        }
    }

    .product-item__price_and_reviews_row {
        .price {
            margin-bottom: 0;
        }

        @include breakPoints($tablet, min) {
            margin: 0 0 20px 0;
        }

        @include breakPoints($tablet, max) {
            margin: 0;
        }
    }

    .price-item--sale,
    .price-item--regular {
        font-family: $font_inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
    }

    .price-item--sale {
        color: $orange;
    }

    .btn {
        padding: 10px 18px;
        font-family: $font_inter;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: -0.25px;
    }

    .grid.Collection-wrapper
        .product-item-block.view-mode-grid
        .product-card
        form.product-item__action-list,
    .grid.Collection-wrapper
        .product-item-block.view-mode-grid
        .product-card
        form.product-item__action-list
        + .open-quick-view--btn,
    form.product-item__action-list,
    .product-item-block.view-mode-list
        .product-item--info
        .open-quick-view--btn {
        margin-top: 0;
    }

    .open-quick-view--btn {
        background-color: $orange;

        &.btn--primary {
            &::after {
                background: #bf3b00;
            }
        }

        &.btn--primary:not([disabled]):hover {
            background-color: $orange;

            &::after {
                background: $dark_orange;
            }
        }
    }

    .view-mode-grid {
        @include breakPoints($tablet, max) {
            width: 50%;

            &.grid__item {
                margin-bottom: 10px;
            }

            &:nth-of-type(even) {
                padding-left: 10px;
            }
        }
    }

    .view-mode-list {
        .product-card {
            padding: 20px;
        }
    }

    .product-cartd__buttons-wrapper {
        @include breakPoints($tablet, min) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            width: fit-content;
            margin-top: auto;
        }

        @include breakPoints(1600px, $tablet) {
            grid-template-columns: auto;
        }

        @include breakPoints($tablet, max) {
            display: none;
        }
    }

    .product-item__desc {
        font-family: $font_inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -1px;
        color: $black;
    }

    .open_mobile_sidebar {
        background-color: $orange;
    }

    .collection__layout-button.is-selected {
        box-shadow: none;
    }

    .product-single__title {
        margin-bottom: 10px;
        font-family: $font_nexa_bold;
        font-size: 32px;
        font-weight: 700;
    }

    .search-page-form {
        max-width: 725px;
        margin: 0 auto 50px;
    }

    .input-group__field {
        min-height: auto;
    }

    .search-form {
        .input-group__field {
            input {
                min-height: auto;
            }

            .search-form__input {
                padding: 10px 20px;
            }
        }
    }

    .search-button__submit {
        padding: 0 20px;

        .icon {
            path {
                fill: $light_gray;
            }
        }
    }

    .product-item__vendor {
        display: none;
    }

    .product-item-block {
        &.view-mode-list {
            .product-item--info {
                height: auto;
            }
        }
    }
}
