@import '../variables.scss';
@import '../mixins.scss';

.opk_mosaic {
    
    .section-header {
        @include breakPoints($tablet, min) {
            margin-bottom: 66px;
        }
    }

    .mosaic_block {
        border-radius: 20px;
    }

    .h3 {        
        font-size: 32px;
        line-height: 1;
    }

    .mosaic_block-caption.text-center {
        @include breakPoints($tablet) {
            justify-content: flex-end;
        }
    }

    .h3,
    .h4 {
        font-size: 22px;
        line-height: 1;
    }

    .mosaic_section_wrapper .mosaic_block {
        // height: clamp(250px, 15vw, 500px);
        
        &.height_1 {
            // height: clamp(250px, 35vw, 500px); 
        }
    }
}

.mosaic_section_wrapper {
    &:not(:last-child) {
        @include breakPoints($tablet, min) {
            margin-bottom: 82px;
        }

        @include breakPoints($tablet) {
            margin-bottom: 40px;
        }
    }
}  

.opk_mosaic__btn_wrap {
    text-align: center;
    padding: 0 22px;
}

.opk_mosaic__btn {
    background-color: $orange;
    min-width: 260px;
    justify-content: center;

    &::after {
        background-color: $dark_orange;
    }

    &.btn:not([disabled]):hover {
        background-color: $dark_orange;
    }
}