@import "../variables.scss";
@import '../mixins.scss';

.opk_hero {
    .btn--secondary {
        background-color: $orange;
        border-color: $orange;

        &:not([disabled]):hover {
            background-color: $dark_orange;
        }

        &::after {
            background: $dark_orange;
        }
    }

    .slideshow__text-wrap--desktop .slideshow__text-content .slideshow__text-content-list {
        @include breakPoints($tablet, min) {
            max-width: 80%;
        }
    }

    .slideshow__text-content-list li {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .slideshow__btn-wrapper {
        @include breakPoints($tablet, min) {
            margin-top: 36px;
        }
    }

    .slideshow__text-content {
        .head_title__text_bg,
        .head_title__text,
        .head_title__shadow {
            &--large {
                line-height: 0.9;
                letter-spacing: -0.004em;

                @include breakPoints($laptop, min) {
                    font-size: 100px;
                }

                @include breakPoints($laptop, $tablet) {
                    font-size: 76px;
                }

                @include breakPoints($tablet) {
                    font-size: 54px;
                }
            }
        }
    }
}

.opk_hero__title {
    // color: $white;
    font-family: $font_nexa_black;
}




