@import '../mixins.scss';
@import '../variables.scss';

.opk-addresses {
    position: relative;

    @include breakPoints($tablet, max) {
        min-height: 1040px;
        padding: 32px 0;
    }

    @include breakPoints($tablet, min) {
        min-height: 800px;
        padding: 85px 0;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $orange;
    }

    &__title {
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: 'NexaRustSlab', sans-serif;
        font-weight: 900;
        line-height: 1.4;
        letter-spacing: -1px;

        @include breakPoints($tablet, max) {
            font-size: 31px !important;
        }

        @include breakPoints($tablet, min) {
            font-size: 34px;
        }

        @include breakPoints($laptop, min) {
            font-size: 46px;
        }
    }

    &__text {
        padding-top: 25px;
        color: $text_color;
        font-family: $font_inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.55;
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;

        @include breakPoints($tablet, min) {
            gap: 10px;
        }
    }

    &__navigation-item {
        display: flex;
        align-items: center;
        gap: 4px;
        width: fit-content;
        border: none;
        color: $orange;
        background-color: transparent;
    }

    &__content-container {
        max-width: 1780px;

        @include breakPoints($tablet, max) {
            padding-left: 19px !important;
            padding-right: 19px !important;
        }

        @include breakPoints($tablet, min) {
            padding-left: 22px !important;
            padding-right: 22px !important;
        }

        @include breakPoints($laptop, min) {
            padding-left: 55px !important;
            padding-right: 55px !important;
        }
    }

    &__grid {
        margin: 0 !important;
    }

    &__grid-item {
        padding: 0 !important;
        min-height: 20vh;

        &--empty {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__empty-title {
        font-size: 25px;
        text-align: center;
    }

    &__addresses {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        border: none;

        @include breakPoints($tablet, max) {
            gap: 42px;
        }

        @include breakPoints($tablet, min) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @include breakPoints($laptop, min) {
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            grid-auto-rows: 1fr;
            gap: 12px;
        }

        @include breakPoints(1440px, min) {
            grid-template-columns: repeat(4, minmax(350px, 1fr));
            gap: 9px;
        }
    }

    &__address {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0 !important;
        border: none !important;
        background-color: $white;

        @include breakPoints($tablet, max) {
            padding: 20px !important;
            border-radius: 20px;
        }

        @include breakPoints($tablet, min) {
            padding: 30px !important;
            border-radius: 50px;
        }

        .address {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    &__default-marker {
        width: fit-content;
        margin: 0;

        @include breakPoints($tablet, min) {
            min-height: 1.7em;
        }
    }

    &__default-marker-title {
        padding: 5px 13px;
        border: 2px solid $orange;
        border-radius: 20px;
        font-family: 'Inter';
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.5px;
        color: $orange;
    }

    &__buttons {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 30px;

        @include breakPoints($tablet, max) {
            gap: 16px;
        }

        @include breakPoints($tablet, min) {
            flex-direction: row;
            gap: 10px;
        }
    }

    &__button {
        justify-content: center;
        width: 100%;
        margin: 0 !important;
        padding: 13px 22px;
        text-align: center;
        font-family: $font_inter;
        font-size: 16px;
        font-weight: 800;
        line-height: 1.4;
        background-color: $blue;
        color: $white;

        @include breakPoints($tablet, min) {
            margin-top: 20px;
        }

        @include breakPoints($tablet, max) {
            margin-top: 8px;
        }

        &--secondary {
            margin-top: 0;
            text-align: center;
            border: 1px solid $black;
            background-color: transparent;
            color: $black;

            @include breakPoints($tablet, min) {
                margin-bottom: 100px;
            }

            @include breakPoints($tablet, max) {
                margin-bottom: 0;
            }

            span + svg {
                margin-left: 5px;
            }

            &:not([disabled]):hover {
                background-color: transparent;
                color: $white !important;
                //text-decoration: underline;
            }
        }
    }

    &__form-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--color-body);
        z-index: 5;
    }

    &__form {
        position: relative;
        width: 100%;
        max-width: 813px;
        margin: 0;

        @include breakPoints($tablet, max) {
            padding-left: 19px !important;
            padding-right: 19px !important;
        }

        @include breakPoints($tablet, min) {
            padding-left: 22px !important;
            padding-right: 22px !important;
        }

        @include breakPoints($laptop, min) {
            padding-left: 55px !important;
            padding-right: 55px !important;
        }
    }

    &__form-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__subtitle {
        color: $orange;
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;

        @include breakPoints($tablet, max) {
            gap: 8px;
        }

        @include breakPoints($tablet, min) {
            gap: 6px;
        }
    }

    &__form-footer {
        margin-top: 10px;
    }

    &__form-buttons {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__form-button {
        width: 100%;
    }
}
