@import '../mixins.scss';
@import '../variables.scss';

.section-product-template + .shopify-section {
    @include breakPoints($tablet, min) {
        margin-top: 100px;
    }

    @include breakPoints($tablet) {
        margin-top: 85px;
    }
}

.opk_product-recommendations {
    .product-recommendations__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head_title__text_bg {
        margin-bottom: 50px;
    }

    .product-card {
        padding: 20px 20px 45px;

        .product-label--on-sale {
            border-color: $orange;
            color: $orange;
        }

        .product-card__title {
            font-family: $font_nexa_bold;
            font-weight: 700;
            line-height: 1.18;

            @include breakPoints($tablet, min) {
                font-size: 22px;
            }

            @include breakPoints($tablet) {
                font-size: 19px;
            }
        }

        .price-item {
            font-family: $font_inter;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;

            &.price-item--sale {
                color: $orange;
            }           
        }

        .price__sale {
            
        }

        .product-item__action-list {
            .product-form__cart-submit {
                display: none;
            }
        }

        .open-quick-view--btn {
            width: 100%;
        }

        .item__link-title {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-family: $font_nexa_bold;
            font-weight: 700;
            overflow: hidden;
        }
    }

    .grid.grid--view-items.grid--uniform {
        align-items: unset;
        width: 100%;
    }
    
    .half_row_mobile {
        .product-item__price_and_reviews_row {
            margin-top: auto;
            padding-top: 15px;
        }
    }
}
