@import '../variables.scss';
@import '../mixins.scss';

.opk_logo-bar {
    .logo-bar {
        .logo-bar__item {
            .grid-view-item {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
