@import '../variables.scss';
@import '../mixins.scss';

.opk_header {
    .medium-up--two-sixths {
        @include breakPoints($laptop, min) {
            width: clamp(324px, 20%, 500px) !important;
        }

        @include breakPoints($laptop, $tablet) {
            width: auto !important;
        }
    }

    .site-header .site-header__mobile-nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hide_site_header__mobile_nav {
        flex-wrap: nowrap;
    }

    .nav-bar__link {
        font-weight: 800;
    }

    .header_cart_info .header_cart_count {
        background-color: $orange;
    }

    .mobile-nav-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar__link,
    .mobile-nav__label {
        font-weight: 800;
    }

    .mobile-nav__label {
        text-transform: uppercase;
    }

    .mobile-nav__link,
    .mobile-nav__sublist-link {
        padding: 19px 30px;
    }

    .mobile-nav__dropdown {
        background-color: transparent !important;
    }

    .mobile-nav-wrapper .icon-chevron-left,
    .mobile-nav-wrapper .icon-chevron-right {
        color: $green !important;
    }

    .mobile-nav-wrapper .icon-login {
        color: $black !important;
    }

    .mobile-nav-footer-block {
        margin: 0 !important;
        min-width: 160px;
        background-color: $green !important;

        &:not(:last-child) {
            margin-bottom: 10px !important;
        }
    }

    .phone_number a,
    .email_text a,
    .disclosure__toggle,
    .site-header__account {
        font-size: 12px;
        font-weight: 600;
        color: $black !important;
    }

    .header_cart_info--descktop_mod {
        @include breakPoints($tablet) {
            display: none;
        }
    }

    .predictive-search {
        max-height: 398px;
        overflow-y: auto;
    }
}

.navigation_wrapper--center {
    justify-content: center;
}

.opk_header__nav_full {
    flex: auto;
    padding: 0 16px;
}

.mega_menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 95%;
    background: var(--white-color);
    border-radius: 0 0 10px 10px;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 11;

    .visible & {
        opacity: 1;
        pointer-events: all;
        z-index: 11;
        visibility: visible;
        display: block;
    }
}

.mega_menu__inner {
    padding: 25px 0 46px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 7%;
}

.mega_menu__column {
}

.mega_menu__title {
    display: block;
    font-size: 16px;
    font-weight: 700;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.mega_menu__pic {
    display: block;
    width: 100%;
    aspect-ratio: 243 / 162;
    overflow: hidden;

    @include breakPoints($laptop, min) {
        border-radius: 20px;
        margin: 0 0 30px;
    }

    @include breakPoints($laptop) {
        border-radius: 10px;
        margin: 0 0 20px;
    }
}

.mega_menu__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.site-header {
    .site-header__icons {
        .search-bar__interior {
            .search-form__container {
                .search-bar__form {
                    .search-form__input-wrapper {
                        .predictive-search-wrapper {
                            border-radius: 22px;
                            // padding: 20px 0 30px;
                            overflow: hidden;
                            
                            @include breakPoints($laptop, min) {
                                min-width: 525px;
                                left: unset;
                            }

                            .predictive-search__list {
                                margin-top: 5px;

                                .predictive-search-item {
                                    .predictive-search-item__link {
                                        .predictive-search__column--image {
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }

                            .search_popular_searches_menu {
                                .predictive-search-title {
                                    padding: 15px 30px 10px;
                                }
                            }

                            .predictive-search-title {
                                padding: 25px 30px 0;

                                .predictive-search-title__content {
                                    font-family: $font_inter;
                                    font-size: 20px;
                                    font-weight: 800;
                                    line-height: 1.52;
                                    letter-spacing: normal;
                                }
                            }

                            .search_popular_menu {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 8px;

                                a {
                                    margin: 0;
                                    padding: 8px 18px;
                                    font-family: $font_inter;
                                }
                            }

                            .predictive-search-item__title-text {
                                margin-bottom: 10px;
                                font-family: $font_nexa_bold;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 1;
                            }

                            .predictive-search-item__price {
                                font-family: $font_inter;
                                font-size: 13px;
                                font-weight: 500;
                            }

                            .search-bar__view-all-button-wrapper {
                                .search-bar__view-all {
                                    font-family: $font_inter;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
