@import '../variables.scss';
@import '../mixins.scss';

.template-page {
    .shopify-section
        + .shopify-section:not(.shopify-section-header).page-contact-section {
        @include breakPoints($tablet, max) {
            padding-bottom: 75px;
        }

        @include breakPoints($tablet) {
            padding-bottom: 30px;
        }
    }

    .rich-text {
        padding: 0;
    }

    .custom_page_header_section {
        margin-bottom: 30px;

        @include breakPoints($tablet, min) {
            margin-bottom: 85px;
        }
    }

    [data-section-type='index-icons-with-text'] {
        padding: 0;

        @include breakPoints($tablet, min) {
            .icon-with-text--block {
                flex-direction: column;
                align-items: center;
            }
        }

        .section-header h2 {
            justify-content: center;
        }

        @include breakPoints($tablet, min) {
            .block_icon {
                margin: 0 0 30px 0;
            }
        }

        .block_info {
            text-align: center;

            .h4 {
                padding-right: 0;
                font-family: $font_nexa_bold;
                font-size: 22px;
                font-weight: 700;
                line-height: 26px;
            }

            .block_content {
                border: none;
                padding-top: 0;
                margin-top: 8px;

                p {
                    font-family: $font_inter;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.5; /* 150% */
                    letter-spacing: -1px;
                    color: $gray;
                    opacity: 1;
                }
            }
        }
    }

    .page-contact-section {
        .section-header {
            margin-bottom: 30px;

            @include breakPoints($tablet, min) {
                margin-bottom: 55px;
            }

            .h2 {
                font-family: $font_nexa;
                font-size: 34px;
                font-weight: 900;
                letter-spacing: -1px;
                color: $blue;
                text-transform: uppercase;

                @include breakPoints($laptop, min) {
                    font-size: 47px;
                }
            }

            .rte p {
                font-family: $font_inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: -1px;
                color: $black;
                @include breakPoints($laptop, min) {
                    font-size: 18px;
                }
            }
        }

        .form-vertical {
            input:not([type='submit']),
            textarea {
                margin-bottom: 24px;

                @include breakPoints($tablet, min) {
                    margin-bottom: 11px;
                }
            }

            label {
                font-family: $font_inter;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    .contact-form {
        .btn {
            font-family: $font_inter;
            font-size: 16px;
            font-weight: 800;
        }
    }
}
