@import "../variables.scss";
@import '../mixins.scss';

.opk_countdown {
    .btn--secondary {
        background-color: $orange;
        border-color: $orange;

        &::after {
            background-color: $dark_orange;
        }

        &.btn:not([disabled]):hover {
            background-color: $dark_orange;
        }
    }
    
}

.opk_countdown__title {
    line-height: 1;

    &:not(:last-child) {
        margin-bottom: 24px;
    }    
}