@import "../variables.scss";
@import '../mixins.scss';

.opk_featured_products {
    .product-item-block {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .product-item__price_and_reviews_row {
        flex: auto;
    }

    .product-card__image-wrapper div {
        padding: 0!important;
    }

    .open-quick-view--btn {
        width: 100%;
        display: inline-flex!important;
    }

    .product-card__link-title {
        flex: auto;
    }

    .product-card__title {
        font-family: $font_nexa_bold;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.18;
    }
}

.opk_featured_products__head {
    &:not(:last-child) {        
        @include breakPoints($tablet, min) {
            margin-bottom: 72px;
        }

        @include breakPoints($tablet) {
            margin-bottom: 30px;
        }
    }
}

.opk_featured_products__head_title {
    width: 100%;
    display: flex;
    justify-content: space-between;  
}

.opk_featured_products__head_wrap {
    flex: auto;
}

.opk_featured_products__controls {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;    
    height: auto;

    .swiper-button-lock {
        display: none;
    }
}

.opk_featured_products__grid_wrap {
    display: grid;        
    gap: 10px;

    @include breakPoints($laptop, min) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include breakPoints($laptop, $tablet) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakPoints($tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-cartd__buttons-wrapper {
        @include breakPoints($tablet) {
            display: none;
        }
    }

    .product-card {
        @include breakPoints($tablet) {
            padding: 10px 10px 25px;
        }
    }

    .price__sale {
        line-height: 1.5;
    }

    .product-card__link-title {
        @include cutStringRows($rows: 3);
    }
}

.opk_featured_products__slider.swiper {

    .product-card-wrapper {
        padding-bottom: 40px;        
    }
    
    @include breakPoints($tablet) {
        overflow: visible;
    }
}

.opk_featured_products__slider_item.swiper-slide {
    height: auto;  

}