@mixin breakPoints($width, $value: max) {
    @if $value == min {
        @media screen and (min-width: $width) {
            @content;
        }
    } @else if $value == max {
        @media screen and (max-width: $width - 1) {
            @content;
        }
    } @else {
        @media (max-width: $width - 1) and (min-width: $value) {
            @content;
        }
    }
}

@mixin font_face(
    $file_name,
    $font_name: $file_name,
    $weight: normal,
    $style: normal
) {
    @font-face {
        font-family: quote($font_name);
        src: url('../../assets/' + $file-name + '.woff2') format('woff2'),
            url('../../assets/' + $file-name + '.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin subtitle($color) {
    display: inline-flex;
    align-items: center;
    font-family: $font_inter;
    font-size: 14px;
    font-weight: 800;
    color: $color;
    letter-spacing: -0.25px;
    text-transform: uppercase;

    &::before {
        content: '';
        color: inherit;
        height: 2px;
        width: 25px;
        margin-right: 7px;
        display: block;
        background-color: $color;
    }
}

@mixin cutStringRows($rows: 1, $maxSize: 100%) {
    display: -webkit-box;
    max-width: $maxSize;
    -webkit-line-clamp: $rows;
    -webkit-box-orient: vertical;
    overflow: hidden;
}