* {
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

:focus,
:active,
a:focus,
a:active {
    outline: none;
}

a {
    color: inherit;
}

input,
button,
input::placeholder,
textarea::placeholder {
    padding: 0;
    font-family: inherit;
}

button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6, 
p {
    margin: 0;
}
