/* ==================================================== ADAPTIVE =================================================== */
$mobileSM: 480px;
// $mobile: 576px;
$tablet: 750px;
$tabletMd: 990px;
// $tabletXl: 1024px;
$laptop: 1200px;
// $desktop: 1440px;

/* ==================================================== LAYOUTS ==================================================== */
// $main_layout: 1800px;
// $second_layout: 1300px;
// $special_layout: 1520px;

/* ===================================================== FONTS ===================================================== */
// $font_inter: 'Inter', sans-serif;
// $font_nexa: 'NexaRustSlab', sans-serif;
// $font_nexa_black: 'NexaRustBlack', sans-serif;
// $font_nexa_shadow: 'NexaRustBlackShadow', sans-serif;
// $font_nexa_bold: 'Nexa Bold', sans-serif;

/* ===================================================== COLORS ==================================================== */
// $white: #ffffff;
// $black: #000000;
// $text_color: #232323;
// $gray: #8d8d8d;
// $dark_grey: #777777;
// $light_gray: #cccccc;
// $blue: #2460a9;
// $red: #ea0606;
// $orange: #fb5f1b;
// $dark_orange: #bf3b00;
// $green: #c6e000;
// $brown: #2b2b2b;
