/* ==================================================== ADAPTIVE =================================================== */
$mobile: 480px;
$tablet: 768px;
$tabletMd: 990px;
$tabletXl: 1024px;
$laptop: 1200px;
$desktop: 1440px;
/* ===================================================== FONTS ===================================================== */
$font_robota: 'Roboto', sans-serif;

/* ===================================================== COLORS ==================================================== */
$black: #000000;
$white: #ffffff;
$gray: #757575;
// $text_color: #232323;
// $gray: #8d8d8d;
// $dark_grey: #777777;
// $light_gray: #cccccc;
// $blue: #2460a9;
// $red: #ea0606;
// $orange: #fb5f1b;
// $dark_orange: #bf3b00;
// $green: #c6e000;
// $brown: #2b2b2b;
/* ===================================================== FORM ==================================================== */
$input_border_color: $black;
$input_border_color_active: $gray;
$input_placeholder_color: $gray;
$input_font_size: 16px;
$input_radius: 4px;
$input_height: 30px;
$input_offset: 16px;



