//Format: $screenSIZE: value;
/* ==================================================== ADAPTIVE =================================================== */
$mobile: 480px;
$tablet: 768px;
$tabletMD: 990px;
$tabletXL: 1024px;
$laptop: 1200px;
$desktop: 1440px;

//Format: $variable_name: value;
/* ===================================================== FONTS ===================================================== */
$font_example: 'Example', sans-serif;
/* ===================================================== COLORS ==================================================== */
$black: #000000;
$white: #ffffff;
