//Adaptive
//=====================================================================================================================
$mobile: 480px;
$tablet: 768px;
$tablet_md: 990px;
$tablet_xl: 1024px;
$laptop: 1200px;
$desktop: 1440px;

//Fonts
//=====================================================================================================================
$font_example: 'Example', sans-serif;

//Colors
//=====================================================================================================================
$black: #000000;
$white: #ffffff;

//Root
//=====================================================================================================================
:root {
    --opk-main-wrapper: 1920px;
    --opk-second-wrapper: 1494px;
}
