<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">

<div class="header__wrapper">{{ section.settings.title }}</div>

<script type="module" src="{{ 'header.js' | asset_url }}"></script>

{% schema %}
{
	"name": "Header",
	"class": "header",
	"tag": "header",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		}
	]
}
{% endschema %}
