<link rel="stylesheet" href="{{ 'ui-components.css' | asset_url }}">

<div class="ui_components__wrap">
    <div class="ui_components__block">
        <div class="ui_components__title">Typography</div>
        <div class="ui_components__row">
            <h1>H1</h1>
            <h2>H2</h2>
            <h3>H3</h3>
            <h4>H4</h4>
            <h5>H5</h5>
            <h6>H6</h6>
        </div>
    </div>
    <div class="ui_components__block">
        <div class="ui_components__title">Buttons</div>
        <div class="ui_components__row">
            <div class="ui_components__item">
                <button type="button" aria-label="button" class="ui_components__btn">button</button>
            </div>
        </div>
    </div>
    <div class="ui_components__block">
        <div class="ui_components__title">Form</div>
        <div class="ui_components__row">            
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "UI componens",
        "class": "ui_components",
        "tag": "section",
        "settings": [
            	
        ],

        "presets": [
            {
                "name": "UI componens",
                "settings": {

                }
            }
        ]
    }
{% endschema %}