/*!********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/application.scss ***!
  \********************************************************************************************************************************************************************************************/
/* ==================================================== IMPORTS ==================================================== */
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

a {
  color: inherit;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  padding: 0;
  font-family: inherit;
}

input,
button,
input::placeholder,
textarea::placeholder {
  padding: 0;
  font-family: inherit;
}

button {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
}

a,
a:visited,
a:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@font-face {
  font-family: "NexaRustSlab";
  src: url(NexaRustSans-Trial-BlackShadow1.woff2) format("woff2"), url(NexaRustSans-Trial-BlackShadow1.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NexaRustBlack";
  src: url(NexaRustSans-Trial-Black2.woff2) format("woff2"), url(NexaRustSans-Trial-Black2.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NexaRustBlackShadow";
  src: url(NexaRustSans-Trial-Shadow.woff2) format("woff2"), url(NexaRustSans-Trial-Shadow.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nexa Bold";
  src: url(NexaText-Trial-Bold.woff2) format("woff2"), url(NexaText-Trial-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.head_title__text {
  position: relative;
  font-family: "NexaRustBlack", sans-serif;
  line-height: 0.9;
  letter-spacing: -0.004em;
}
@media screen and (min-width: 1200px) {
  .head_title__text {
    font-size: 100px;
  }
}
@media (max-width: 1199px) and (min-width: 750px) {
  .head_title__text {
    font-size: 76px;
  }
}
@media screen and (max-width: 749px) {
  .head_title__text {
    font-size: 54px;
  }
}
.head_title__text {
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 749px) {
  .head_title__text.head_title__text--font_mod {
    font-size: 34px;
  }
}
@media screen and (min-width: 750px) {
  .head_title__text.head_title__text--medium {
    font-size: 60px;
  }
}
@media screen and (max-width: 749px) {
  .head_title__text.head_title__text--medium {
    font-size: 34px;
  }
}

.head_title__shadow {
  line-height: 0.9;
  letter-spacing: -0.004em;
}
@media screen and (min-width: 1200px) {
  .head_title__shadow {
    font-size: 100px;
  }
}
@media (max-width: 1199px) and (min-width: 750px) {
  .head_title__shadow {
    font-size: 76px;
  }
}
@media screen and (max-width: 749px) {
  .head_title__shadow {
    font-size: 54px;
  }
}
.head_title__shadow {
  position: absolute;
  bottom: -0.02em;
  left: -0.02em;
  font-family: "NexaRustBlackShadow", sans-serif;
  color: #c6e000;
}
@media screen and (max-width: 749px) {
  .head_title__text--font_mod .head_title__shadow {
    font-size: 34px;
  }
}
@media screen and (min-width: 750px) {
  .head_title__shadow.head_title__shadow--medium {
    font-size: 60px;
  }
}
@media screen and (max-width: 749px) {
  .head_title__shadow.head_title__shadow--medium {
    font-size: 34px;
  }
}

.head_title__text_bg {
  display: inline-flex;
  flex-wrap: wrap;
  font-family: "NexaRustSlab", sans-serif;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.head_title__text_bg:not(.head_title__text_bg--font_mod) {
  color: #2460a9;
}
@media screen and (min-width: 750px) {
  .head_title__text_bg:not(.head_title__text_bg--font_mod) {
    font-size: 47px;
  }
}
@media screen and (max-width: 749px) {
  .head_title__text_bg:not(.head_title__text_bg--font_mod) {
    font-size: 34px;
    line-height: 1.2;
  }
}
.head_title__text_bg.head_title__text_bg--font_mod {
  font-family: "NexaRustBlack", sans-serif;
  color: #2460a9;
  font-weight: 700;
}
@media screen and (min-width: 750px) {
  .head_title__text_bg.head_title__text_bg--font_mod {
    font-size: 24px;
  }
}
@media screen and (max-width: 749px) {
  .head_title__text_bg.head_title__text_bg--font_mod {
    font-size: 18px;
  }
}
.head_title__text_bg:not(:last-child) {
  margin-bottom: 13px;
}

.head_title__word {
  z-index: 1;
  position: relative;
  padding: 0 0.18em;
}
.head_title__word::before {
  z-index: -1;
  position: absolute;
  left: -6px;
  height: 1.6em;
  width: calc(100% + 6px);
  content: "";
}
@media screen and (min-width: 750px) {
  .head_title__word::before {
    top: -0.1em;
  }
}
@media screen and (max-width: 749px) {
  .head_title__word::before {
    top: -0.3em;
  }
}
.head_title__text_bg--font_mod .head_title__word::before {
  top: -0.1em;
}
.head_title__word::after {
  position: absolute;
  right: -5px;
  width: 12px;
  content: "";
}
@media screen and (min-width: 750px) {
  .head_title__word::after {
    top: -0.04em;
    height: 1.5em;
  }
}
@media screen and (max-width: 749px) {
  .head_title__word::after {
    top: -0.08em;
    height: 1.26em;
  }
}
.head_title__text_bg--font_mod .head_title__word::after {
  top: -0.01em;
  right: -5px;
  height: 100%;
  width: 12px;
}
.head_title__text_bg--font_mod .head_title__word {
  padding: 0 0.25em;
}
.head_title__text_bg--font_mod .head_title__word::before {
  top: -0.2em;
  left: -6px;
  height: 124%;
}
@media screen and (min-width: 750px) {
  .opk__subtitle_wrap:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 749px) {
  .opk__subtitle_wrap:not(:last-child) {
    margin-bottom: 16px;
  }
}

.opk__subtitle {
  display: inline-flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: inherit;
  letter-spacing: -0.25px;
  text-transform: uppercase;
}
.opk__subtitle::before {
  content: "";
  color: inherit;
  height: 2px;
  width: 25px;
  margin-right: 7px;
  display: block;
  background-color: inherit;
}

.opk_account__title {
  z-index: 0;
  position: relative;
  padding: 0 0.4em;
  display: inline-flex;
  text-transform: uppercase;
  font-family: "NexaRustSlab", sans-serif;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: -1px;
  color: #2460a9;
  margin-bottom: 34px;
}
.opk_account__title::before {
  z-index: -1;
  position: absolute;
  top: -0.1em;
  left: -6px;
  height: 1.6em;
  width: calc(100% + 6px);
  content: "";
}
@media screen and (min-width: 1200px) {
  .opk_account__title {
    font-size: 47px;
  }
}
@media screen and (max-width: 1199px) {
  .opk_account__title {
    font-size: 34px;
  }
}

/*

<div class="opk__subtitle_wrap">
    <span class='opk__subtitle'>{{ section.settings.subtitle  }}</span>
</div>

#shopify-section-{{ section.id }} .opk__subtitle {
      color: {{ section.settings.subtitle_color }};
   }

#shopify-section-{{ section.id }} .opk__subtitle::before {
    background-color: {{ section.settings.subtitle_color }};
}

{
    "type": "color",
    "id": "subtitle_color",
    "label": "Color for subtitle",
    "default": "#FB5F1B"
},

*/
.Cart-Drawer .Drawer__Header {
  padding: 25px 15px 10px;
}
.Cart-Drawer .Drawer__Title {
  font-family: "Nexa Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.Cart-Drawer .Drawer__Content .Cart__ShippingNotice .Drawer__Container {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.Cart-Drawer .cart-drawer-container {
  margin-bottom: 25px;
}
.Cart-Drawer .Drawer__Container .CartItem {
  border-bottom: 1px solid #cccccc;
}
.Cart-Drawer .Drawer__Container .CartItem__Title {
  margin-bottom: 5px;
  font-family: "Nexa Bold", sans-serif;
  font-weight: 700;
  line-height: 1.18;
}
@media screen and (min-width: 750px) {
  .Cart-Drawer .Drawer__Container .CartItem__Title {
    font-size: 22px;
  }
}
@media screen and (max-width: 749px) {
  .Cart-Drawer .Drawer__Container .CartItem__Title {
    font-size: 18px;
  }
}
.Cart-Drawer .Drawer__Container .QuantitySelector__CurrentQuantity {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.Cart-Drawer .Drawer__Container .CartItem__PriceList .CartItem__Price {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.25px;
}
@media screen and (max-width: 749px) {
  .Cart-Drawer .Drawer__Container .CartItem__PriceList {
    margin-left: 0;
  }
}
.Cart-Drawer .cart-drawer-container .cart_related_collection__heading {
  margin-bottom: 25px;
  font-family: "Nexa Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.Cart-Drawer .cart_related_products {
  padding-bottom: 25px;
}
.Cart-Drawer .cart_related_collection {
  margin-bottom: 30px;
}
.Cart-Drawer .cart_related_collection .CartItem .CartItem__Info .CartItem__Title a {
  font-family: "Nexa Bold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
}
.Cart-Drawer .cart_related_collection .CartItem .CartItem__Info .CartItem__Price {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.Cart-Drawer .cart__block {
  display: none;
}
.Cart-Drawer .cart-subtotal {
  padding: 0 0 20px 0;
}
.Cart-Drawer .cart-subtotal__title,
.Cart-Drawer .cart-subtotal__price {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.25px;
  color: #000000;
}
.Cart-Drawer .Cart__Checkout.btn--transparent_secondary {
  border-color: #232323;
  color: #232323;
}
.Cart-Drawer .Cart__Checkout.btn--transparent_secondary:hover {
  color: #ffffff;
}
@media screen and (max-width: 749px) {
  .Cart-Drawer .CartItem__Actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.Cart-Drawer .empty_cart_buttons .btn {
  border-color: #232323;
  color: #232323;
}
.Cart-Drawer .empty_cart_buttons .btn.keep_shopping__btn {
  border-color: #2460a9;
  color: #ffffff;
}
.Cart-Drawer .empty_cart_buttons .btn:hover {
  border-color: #2460a9;
  color: #ffffff;
}

/* ====================================================== ROOT ===================================================== */
/* ===================================================== COMMON ==================================================== */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.section-header .h5,
.section-header.homepage_subtitle_style_match_header .h5 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #fb5f1b;
  letter-spacing: -0.25px;
  text-transform: uppercase;
}

.btn--circle-arrow {
  background-color: #ffffff;
}
.btn--circle-arrow:after {
  background-color: #fb5f1b;
}

.btn span {
  white-space: nowrap;
}

#BackToTop {
  right: 25px;
  bottom: 100px;
}
