/*!************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/application.scss ***!
  \************************************************************************************************************************************************************************************************************************/
/* ==================================================== IMPORTS ==================================================== */
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

a {
  color: inherit;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  padding: 0;
  font-family: inherit;
}

input,
button,
input::placeholder,
textarea::placeholder {
  padding: 0;
  font-family: inherit;
}

button {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
}

a,
a:visited,
a:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ====================================================== ROOT ===================================================== */
/* ===================================================== COMMON ==================================================== */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}
