/*!************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/application.scss ***!
  \************************************************************************************************************************************************************************************************************************/
/* ==================================================== IMPORTS ==================================================== */
/* ==================================================== ADAPTIVE =================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
/* ===================================================== FORM ==================================================== */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

a {
  color: inherit;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  padding: 0;
  font-family: inherit;
}

input,
button,
input::placeholder,
textarea::placeholder {
  padding: 0;
  font-family: inherit;
}

button {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
}

a,
a:visited,
a:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto-Regular.woff2) format("woff2"), url(Roboto-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(Roboto-Bold.woff2) format("woff2"), url(Roboto-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* ==================================================== IMPORTS ==================================================== */
.btn_base {
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid #000000;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 0 20px;
  min-height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 8px;
}
.btn_base[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.btn_base:hover, .btn_base:focus {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.btn_base:disabled {
  cursor: default;
  pointer-events: none;
}
.btn_base:hover {
  background-color: transparent;
  color: #000000;
}
.btn_base:disabled {
  background: gray;
  color: #000000;
}

/* ==================================================== IMPORTS ==================================================== */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 100px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 54px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 70px;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 60px;
  }
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  h4 {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  h5 {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  h5 {
    font-size: 25px;
  }
}

/* ==================================================== IMPORTS ==================================================== */
.form_el_label {
  display: block;
  padding: 0 7px;
  transition: font-size 0.3s ease, transform 0.3s ease;
  font-size: 16px;
  pointer-events: none;
  color: var(--form-text-color);
}
.form_el_label:not(:last-child) {
  margin-bottom: 8px;
}

.form_el_default {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 16px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--form-text-color);
  caret-color: 4px;
  box-shadow: inset 0 0 0 1px #000000;
  box-shadow: none;
  border: 1px solid #000000;
  background-clip: padding-box;
  border-radius: 4px;
  transition: border-color 0.3s ease 0s;
  will-change: border-color;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.form_el_default:hover, .form_el_default:focus {
  box-shadow: inset 0 0 0 1px #757575;
  border-color: #757575;
}
.form_el_default::-webkit-input-placeholder {
  color: #757575;
}
.form_el_default::-moz-placeholder {
  color: #757575;
  opacity: 1;
}
.form_el_default:-ms-input-placeholder {
  color: #757575;
}
.form_el_default::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}
.form_el_default[type=search]::-ms-clear, .form_el_default[type=search]::-ms-reveal {
  display: none;
}
.form_el_default[type=search]::-webkit-search-decoration, .form_el_default[type=search]::-webkit-search-cancel-button, .form_el_default[type=search]::-webkit-search-results-button, .form_el_default[type=search]::-webkit-search-results-decoration {
  display: none;
}
.form_el_default[type=password] {
  padding-right: 50px;
}
.form_el_default:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--bg-body-color) inset;
  -webkit-text-fill-color: var(--form-text-color);
}
.form_el_default:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--bg-body-color) inset;
  -webkit-text-fill-color: var(--form-text-color);
}
.form_el_default:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--bg-body-color) inset;
  -webkit-text-fill-color: var(--form-text-color);
}
.form_el_default[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
select.form_el_default {
  -webkit-tap-highlight-color: transparent;
}

/* ====================================================== ROOT ===================================================== */
:root {
  --gl-indent: 20px;
  --heigth-header: 100px;
}

/* ===================================================== COMMON ==================================================== */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-body-color);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 1000;
}
.body--loaded .preloader {
  pointer-events: none;
  opacity: 0;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}
