/*!****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/sections/footer.scss ***!
  \****************************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.footer {
  width: 100%;
  padding: 50px 25px;
  background-color: gray;
}
