/*!************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/header.scss ***!
  \************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ==================================================== ADAPTIVE =================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
/* ==================================================== LAYOUTS ==================================================== */
.drop {
  position: relative;
}

.drop__btn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .drop__btn {
    width: 100%;
    justify-content: space-between;
  }
}

.drop__btn_text {
  font-size: 18px;
  font-style: normal;
}

.drop__btn_icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: transform 0.5s ease;
}
.active .drop__btn_icon {
  transform: rotate(180deg);
}
@media screen and (min-width: 768px) {
  .drop:hover .drop__btn_icon {
    transform: rotate(180deg);
  }
}

.drop_menu {
  transition: max-height 0.5s ease;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .drop_menu {
    position: absolute;
    left: 0;
    width: 180px;
    transform: translateX(-2rem) scaleX(1.4) scaleY(1);
    transform-origin: 100% 50%;
    opacity: 0;
    pointer-events: none;
    background-color: #ffffff;
    box-shadow: 0px 1px 14px 2px rgba(76, 89, 119, 0.3);
    overflow: hidden;
    transition: all 0.15s ease-out;
  }
}
@media screen and (max-width: 767px) {
  .drop_menu {
    max-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .drop:hover .drop_menu {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .drop_menu__list {
    padding: 18px 10px;
  }
}
@media screen and (max-width: 767px) {
  .drop_menu__list {
    padding-top: 18px;
  }
}

.drop_menu__item:not(:last-child) {
  margin-bottom: 14px;
}

.drop_menu__link {
  font-size: 16px;
  font-style: normal;
  color: #000000;
  transition: opacity 0.3s ease;
}
@media screen and (min-width: 768px) {
  .drop_menu__link:hover {
    opacity: 0.6;
  }
}

.header {
  width: 100%;
  padding: 50px 25px;
  background-color: blanchedalmond;
}

.header__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.header__row {
  display: flex;
  align-items: center;
}

.header__nav {
  flex: auto;
}

.header__nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header__menu_trigger {
  background-color: transparent;
  position: relative;
  z-index: 20;
  width: 26px;
  height: 14px;
  cursor: pointer;
}
.header__menu_trigger::before, .header__menu_trigger::after,
.header__menu_trigger span {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  overflow: hidden;
  transition: transform 0.3s ease;
  will-change: transform;
  background-color: #ffffff;
}
.header__menu_trigger::before {
  content: "";
  transform: translateY(calc(14px / 2 * -1));
}
.header__menu_trigger::after {
  content: "";
  transform: translateY(calc(14px / 2));
}
.body--open_menu_state .header__menu_trigger span {
  transform: scale(0);
}
.body--open_menu_state .header__menu_trigger::before {
  transform: rotate(-45deg);
}
.body--open_menu_state .header__menu_trigger::after {
  transform: rotate(45deg);
}
.body--open_menu_state .header--scroll_state .header__menu_trigger {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .header__menu_trigger {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__menu_trigger {
    display: block;
  }
}
