/*!******************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-about-us.scss ***!
  \******************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.template-page .custom_page_header_section {
  margin-bottom: 0;
}
.template-page .page_header_heading {
  font-family: "NexaRustBlackShadow", sans-serif;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
}
@media screen and (min-width: 750px) {
  .template-page .page_header_heading.h2 {
    font-size: 47px;
  }
}
.template-page .section-header.h5::before {
  color: #fb5f1b;
}
.template-page [data-section-type=featured-blocks] {
  margin-bottom: 60px;
}
.template-page [data-section-type=featured-blocks] .section-header.homepage_subtitle_style_match_header {
  margin-bottom: 60px;
}
.template-page [data-section-type=featured-blocks] .section-header.homepage_subtitle_style_match_header h2 {
  font-family: "NexaRustSlab", sans-serif;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: -1px;
  color: #2460a9;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .template-page [data-section-type=featured-blocks] .section-header.homepage_subtitle_style_match_header h2 {
    font-size: 47px;
  }
}
.template-page [data-section-type=logo-bar] .section-header.homepage_subtitle_style_match_header {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .template-page [data-section-type=logo-bar] .section-header.homepage_subtitle_style_match_header {
    margin-bottom: 55px;
  }
}
.template-page [data-section-type=logo-bar] .section-header.homepage_subtitle_style_match_header h2 {
  font-family: "NexaRustSlab", sans-serif;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: -1px;
  color: #2460a9;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .template-page [data-section-type=logo-bar] .section-header.homepage_subtitle_style_match_header h2 {
    font-size: 47px;
  }
}
.template-page [data-section-type=logo-bar] .logo-bar .grid-view-item {
  display: flex;
  align-items: center;
}
.template-page .rte-setting {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #000000;
}
