/*!*****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-collection-list-img.scss ***!
  \*****************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.opk_collection_list_img .collection-list__slider {
  margin-right: -10px;
}
@media screen and (max-width: 749px) {
  .opk_collection_list_img .collection-list__slider {
    margin-left: -1px;
  }
}
.opk_collection_list_img .collection-list__slide {
  padding-right: 10px;
}
.opk_collection_list_img .section-header-content {
  max-width: 965px;
}
.opk_collection_list_img .head_title__text {
  line-height: 0.94;
}
@media screen and (min-width: 750px) {
  .opk_collection_list_img .head_title__text:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 749px) {
  .opk_collection_list_img .head_title__text:not(:last-child) {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 749px) {
  .opk_collection_list_img .head_title__text {
    font-size: 34px;
  }
}
.opk_collection_list_img .head_title__shadow {
  line-height: 0.94;
}
@media screen and (max-width: 749px) {
  .opk_collection_list_img .head_title__shadow {
    font-size: 34px;
  }
}
.opk_collection_list_img .image_style_circle .collection-grid-item img {
  width: 160px;
  height: 160px;
}
.opk_collection_list_img .collection-grid-item__title.h4 {
  font-size: 26px;
  font-weight: 700;
  font-family: "Nexa Bold", sans-serif, sans-serif;
}
.opk_collection_list_img .flickity-viewport {
  overflow: visible;
}
.opk_collection_list_img .section_content.carousel_section_content {
  top: 0;
  margin: 0;
}
@media screen and (min-width: 750px) {
  .opk_collection_list_img .section_content.carousel_section_content {
    padding-top: 162px;
  }
}
@media screen and (max-width: 749px) {
  .opk_collection_list_img .section_content.carousel_section_content {
    padding-top: 30px;
  }
}
.opk_collection_list_img .section_bg {
  height: calc(100% - 100px);
}
.opk_collection_list_img .section-header .slider_custom_arrows {
  margin-top: 28px;
}
@media screen and (max-width: 749px) {
  .opk_collection_list_img .section-header {
    margin-bottom: 80px;
  }
}
.opk_collection_list_img .collection-grid-item {
  padding: 50px 20px;
}
@media screen and (max-width: 749px) {
  .opk_collection_list_img .collection-grid-item {
    height: auto !important;
  }
}
.opk_collection_list_img .bg_image_with_custom_content {
  margin-bottom: 0;
}
.opk_collection_list_img {
  margin-bottom: 0;
}

.collection-list__btn.btn--secondary {
  background-color: #fb5f1b !important;
  color: #ffffff;
  border-color: #fb5f1b !important;
}
.collection-list__btn.btn--secondary:after {
  background-color: #bf3b00 !important;
}
