/*!***********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-shop-the-look.scss ***!
  \***********************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.shop_the_look .product-item-block {
  margin: 0;
  padding: 0;
}
.shop_the_look .product-card__title {
  font-family: "Nexa Bold", sans-serif;
}

.shop_the_look__wrap {
  display: grid;
}
@media screen and (min-width: 1200px) {
  .shop_the_look__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1199px) {
  .shop_the_look__wrap {
    gap: 20px;
  }
}

.shop_the_look__picture_warp {
  position: relative;
}
@media screen and (max-width: 1199px) {
  .shop_the_look__picture_warp {
    padding-right: 22px;
  }
}

.shop_the_look__pic {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 22px 22px 0;
  overflow: hidden;
}

.shop_the_look__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop_the_look__product_dots {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  width: 28px;
  height: 28px;
  background-color: #fb5f1b;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.shop_the_look__product_dots:hover {
  background-color: #bf3b00;
}

.shop_the_look__products_item {
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}
.shop_the_look__products_item .product-item-block {
  height: 100%;
}
.shop_the_look__products_item.shop_the_look__products_item--active {
  box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.2);
}

.shop_the_look__products_item--active .product-card__image:has(.product-card__image--alternate) {
  opacity: 0 !important;
  visibility: hidden !important;
}

.shop_the_look__products_item--active .product-card__image--alternate {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .shop_the_look__content {
    padding-left: 9%;
    padding-right: 12.5%;
  }
}
@media screen and (max-width: 1199px) {
  .shop_the_look__content {
    padding: 0 22px;
  }
}

.shop_the_look__title:not(:last-child) {
  margin-bottom: 50px;
}

.shop_the_look__products_wrap {
  display: grid;
  grid-gap: 10px;
  gap: 10px;
}
@media screen and (min-width: 750px) {
  .shop_the_look__products_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
