/*!*********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-product-recommendations.scss ***!
  \*********************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
@media screen and (min-width: 750px) {
  .section-product-template + .shopify-section {
    margin-top: 100px;
  }
}
@media screen and (max-width: 749px) {
  .section-product-template + .shopify-section {
    margin-top: 85px;
  }
}

.opk_product-recommendations .product-recommendations__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opk_product-recommendations .head_title__text_bg {
  margin-bottom: 50px;
}
.opk_product-recommendations .product-card {
  padding: 20px 20px 45px;
}
.opk_product-recommendations .product-card .product-label--on-sale {
  border-color: #fb5f1b;
  color: #fb5f1b;
}
.opk_product-recommendations .product-card .product-card__title {
  font-family: "Nexa Bold", sans-serif;
  font-weight: 700;
  line-height: 1.18;
}
@media screen and (min-width: 750px) {
  .opk_product-recommendations .product-card .product-card__title {
    font-size: 22px;
  }
}
@media screen and (max-width: 749px) {
  .opk_product-recommendations .product-card .product-card__title {
    font-size: 19px;
  }
}
.opk_product-recommendations .product-card .price-item {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.opk_product-recommendations .product-card .price-item.price-item--sale {
  color: #fb5f1b;
}
.opk_product-recommendations .product-card .product-item__action-list .product-form__cart-submit {
  display: none;
}
.opk_product-recommendations .product-card .open-quick-view--btn {
  width: 100%;
}
.opk_product-recommendations .product-card .item__link-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Nexa Bold", sans-serif;
  font-weight: 700;
  overflow: hidden;
}
.opk_product-recommendations .grid.grid--view-items.grid--uniform {
  align-items: initial;
  width: 100%;
}
.opk_product-recommendations .half_row_mobile .product-item__price_and_reviews_row {
  margin-top: auto;
  padding-top: 15px;
}
