/*!**************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-hero.scss ***!
  \**************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.opk_hero .btn--secondary {
  background-color: #fb5f1b;
  border-color: #fb5f1b;
}
.opk_hero .btn--secondary:not([disabled]):hover {
  background-color: #bf3b00;
}
.opk_hero .btn--secondary::after {
  background: #bf3b00;
}
@media screen and (min-width: 750px) {
  .opk_hero .slideshow__text-wrap--desktop .slideshow__text-content .slideshow__text-content-list {
    max-width: 80%;
  }
}
.opk_hero .slideshow__text-content-list li:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 750px) {
  .opk_hero .slideshow__btn-wrapper {
    margin-top: 36px;
  }
}
.opk_hero .slideshow__text-content .head_title__text_bg--large,
.opk_hero .slideshow__text-content .head_title__text--large,
.opk_hero .slideshow__text-content .head_title__shadow--large {
  line-height: 0.9;
  letter-spacing: -0.004em;
}
@media screen and (min-width: 1200px) {
  .opk_hero .slideshow__text-content .head_title__text_bg--large,
  .opk_hero .slideshow__text-content .head_title__text--large,
  .opk_hero .slideshow__text-content .head_title__shadow--large {
    font-size: 100px;
  }
}
@media (max-width: 1199px) and (min-width: 750px) {
  .opk_hero .slideshow__text-content .head_title__text_bg--large,
  .opk_hero .slideshow__text-content .head_title__text--large,
  .opk_hero .slideshow__text-content .head_title__shadow--large {
    font-size: 76px;
  }
}
@media screen and (max-width: 749px) {
  .opk_hero .slideshow__text-content .head_title__text_bg--large,
  .opk_hero .slideshow__text-content .head_title__text--large,
  .opk_hero .slideshow__text-content .head_title__shadow--large {
    font-size: 54px;
  }
}

.opk_hero__title {
  font-family: "NexaRustBlack", sans-serif;
}
