/*!************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-login-register.scss ***!
  \************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.opk-login .head_title__text_bg {
  justify-content: center;
}
@media screen and (min-width: 750px) {
  .opk-login__container {
    left: auto;
    left: initial;
    width: 100%;
  }
}
.opk-login__form {
  max-width: 595px;
}
@media screen and (min-width: 750px) {
  .opk-login__form {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 749px) {
  .opk-login__form {
    padding-bottom: 42px;
  }
}
.opk-login .form-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opk-login .form-vertical form {
  width: 100%;
  max-width: 550px;
}
.opk-login__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.opk-login__title {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "NexaRustSlab", sans-serif;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: -1px;
}
@media screen and (min-width: 750px) {
  .opk-login__title {
    font-size: 47px;
  }
}
@media screen and (max-width: 749px) {
  .opk-login__title {
    font-size: 34px;
  }
}
.opk-login__text {
  margin: 0 !important;
  color: #232323;
  text-align: center;
  font-family: "Nexa Bold", sans-serif;
  font-weight: 700;
}
@media screen and (min-width: 750px) {
  .opk-login__text {
    padding-bottom: 35px;
    font-size: 22px;
    line-height: 1.3;
  }
}
@media screen and (max-width: 749px) {
  .opk-login__text {
    padding-bottom: 42px;
    font-size: 16px;
    line-height: 1.5;
  }
}
.opk-login__label {
  color: #232323;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
}
@media screen and (min-width: 750px) {
  .opk-login__label {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 749px) {
  .opk-login__label {
    margin-bottom: 24px;
  }
}
.opk-login__label-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  gap: 15px;
}
.opk-login__label-container input {
  margin: 0 !important;
}
@media screen and (max-width: 749px) {
  .opk-login__label-container {
    display: block;
  }
}
.opk-login__reset-label {
  color: #232323;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
}
@media screen and (min-width: 750px) {
  .opk-login__reset-label {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 749px) {
  .opk-login__reset-label {
    margin-bottom: 32px;
  }
}
.opk-login__button {
  justify-content: center;
  width: 100%;
  padding: 13px 22px;
  background-color: #2460a9;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.4;
}
@media screen and (min-width: 750px) {
  .opk-login__button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 749px) {
  .opk-login__button {
    margin-top: 8px;
  }
}
.opk-login__button--secondary {
  margin-top: 0;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #fb5f1b;
  font-weight: 500;
}
@media screen and (min-width: 750px) {
  .opk-login__button--secondary {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 749px) {
  .opk-login__button--secondary {
    margin-bottom: 0;
  }
}
.opk-login__button--secondary span + svg {
  margin-left: 5px;
}
.opk-login__button--secondary:not([disabled]):hover {
  background-color: transparent;
  color: #fb5f1b !important;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.opk-login__buttons {
  flex-direction: column;
  margin-left: 0 !important;
}
@media screen and (min-width: 750px) {
  .opk-login__buttons {
    gap: 22px;
  }
}
@media screen and (max-width: 749px) {
  .opk-login__buttons {
    gap: 10px;
  }
}
.opk-login__texts {
  padding-top: 35px;
  color: #232323;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
}
.opk-login__texts a {
  margin: 0 !important;
  color: #fb5f1b;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.opk-login__texts > div {
  padding-bottom: 10px;
}
