/*!***********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-cart-template.scss ***!
  \***********************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.opk_cart .custom_page_header_section {
  max-height: 250px;
  margin: 0;
  padding-bottom: 55px;
}
.opk_cart .custom_page_header_section .page-width .page_header_heading {
  margin-bottom: 0;
  font-family: "NexaRustBlackShadow", sans-serif;
  font-weight: 900;
  line-height: 1.33;
  letter-spacing: -1px;
  text-transform: uppercase;
}
@media screen and (min-width: 750px) {
  .opk_cart .custom_page_header_section .page-width .page_header_heading {
    font-size: 60px;
  }
}
@media (max-width: 1199px) and (min-width: 750px) {
  .opk_cart .custom_page_header_section .page-width .page_header_heading {
    font-size: 48px;
  }
}
@media screen and (max-width: 749px) {
  .opk_cart .custom_page_header_section .page-width .page_header_heading {
    font-size: 34px;
  }
}
@media screen and (min-width: 750px) {
  .opk_cart .custom_page_header_section {
    margin-bottom: 85px;
  }
}
@media screen and (max-width: 749px) {
  .opk_cart .custom_page_header_section {
    margin-bottom: 60px;
  }
}
.opk_cart .cart__footer {
  display: none;
}
.opk_cart .PageContent form.Cart {
  margin-bottom: 230px;
}
.opk_cart .PageContent .Cart__ItemList .Cart__Head .Cart__HeadItem {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #000000;
}
.opk_cart .PageContent .Cart__ItemList .CartItem:last-of-type .CartItemMobile {
  border-bottom: none;
}
.opk_cart .PageContent .Cart__ItemList .CartItem .CartItem__MainInfo .CartItem__Info,
.opk_cart .PageContent .Cart__ItemList .CartItem .CartItemMobile .CartItem__Info {
  display: flex;
  flex-direction: column;
}
.opk_cart .PageContent .Cart__ItemList .CartItem .CartItem__MainInfo .CartItem__Info .CartItem__Title,
.opk_cart .PageContent .Cart__ItemList .CartItem .CartItemMobile .CartItem__Info .CartItem__Title {
  flex: auto;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.opk_cart .PageContent .Cart__ItemList .CartItem .CartItem__PriceList .CartItem__Price,
.opk_cart .PageContent .Cart__ItemList .CartItem .CartItem__LinePriceList .CartItem__Price {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #000000;
}
.opk_cart .PageContent .Cart__ItemList .CartItem .QuantitySelector .QuantitySelector__CurrentQuantity {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.opk_cart .cart__block .cart_block__title,
.opk_cart .cart__block .cart-subtotal {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #000000;
}
.opk_cart .cart__block .cart_block__title {
  padding: 15px 30px;
}
.opk_cart .cart__block .cart-subtotal {
  padding: 30px;
}
.opk_cart .cart__block .cart-subtotal .cart-subtotal__title,
.opk_cart .cart__block .cart-subtotal .cart-subtotal__price {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.opk_cart .cart__block .cart__submit {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 800;
}
.opk_cart .tax-note {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.opk_cart .empty-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 0 90px;
}
.opk_cart .empty-page-content a {
  width: -moz-fit-content;
  width: fit-content;
}
