/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-header.scss ***!
  \****************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
@media screen and (min-width: 1200px) {
  .opk_header .medium-up--two-sixths {
    width: max(324px, min(20%, 500px)) !important;
  }
}
@media (max-width: 1199px) and (min-width: 750px) {
  .opk_header .medium-up--two-sixths {
    width: auto !important;
  }
}
.opk_header .site-header .site-header__mobile-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}
.opk_header .hide_site_header__mobile_nav {
  flex-wrap: nowrap;
}
.opk_header .nav-bar__link {
  font-weight: 800;
}
.opk_header .header_cart_info .header_cart_count {
  background-color: #fb5f1b;
}
.opk_header .mobile-nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opk_header .nav-bar__link,
.opk_header .mobile-nav__label {
  font-weight: 800;
}
.opk_header .mobile-nav__label {
  text-transform: uppercase;
}
.opk_header .mobile-nav__link,
.opk_header .mobile-nav__sublist-link {
  padding: 19px 30px;
}
.opk_header .mobile-nav__dropdown {
  background-color: transparent !important;
}
.opk_header .mobile-nav-wrapper .icon-chevron-left,
.opk_header .mobile-nav-wrapper .icon-chevron-right {
  color: #c6e000 !important;
}
.opk_header .mobile-nav-wrapper .icon-login {
  color: #000000 !important;
}
.opk_header .mobile-nav-footer-block {
  margin: 0 !important;
  min-width: 160px;
  background-color: #c6e000 !important;
}
.opk_header .mobile-nav-footer-block:not(:last-child) {
  margin-bottom: 10px !important;
}
.opk_header .phone_number a,
.opk_header .email_text a,
.opk_header .disclosure__toggle,
.opk_header .site-header__account {
  font-size: 12px;
  font-weight: 600;
  color: #000000 !important;
}
@media screen and (max-width: 749px) {
  .opk_header .header_cart_info--descktop_mod {
    display: none;
  }
}
.opk_header .predictive-search {
  max-height: 398px;
  overflow-y: auto;
}

.navigation_wrapper--center {
  justify-content: center;
}

.opk_header__nav_full {
  flex: auto;
  padding: 0 16px;
}

.mega_menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 95%;
  background: var(--white-color);
  border-radius: 0 0 10px 10px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 11;
}
.visible .mega_menu {
  opacity: 1;
  pointer-events: all;
  z-index: 11;
  visibility: visible;
  display: block;
}

.mega_menu__inner {
  padding: 25px 0 46px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 7%;
  gap: 7%;
}

.mega_menu__title {
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.mega_menu__title:not(:last-child) {
  margin-bottom: 30px;
}

.mega_menu__pic {
  display: block;
  width: 100%;
  aspect-ratio: 243/162;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .mega_menu__pic {
    border-radius: 20px;
    margin: 0 0 30px;
  }
}
@media screen and (max-width: 1199px) {
  .mega_menu__pic {
    border-radius: 10px;
    margin: 0 0 20px;
  }
}

.mega_menu__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper {
  border-radius: 22px;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper {
    min-width: 525px;
    left: auto;
    left: initial;
  }
}
.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper .predictive-search__list {
  margin-top: 5px;
}
.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper .predictive-search__list .predictive-search-item .predictive-search-item__link .predictive-search__column--image {
  margin-right: 10px;
}
.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper .search_popular_searches_menu .predictive-search-title {
  padding: 15px 30px 10px;
}
.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper .predictive-search-title {
  padding: 25px 30px 0;
}
.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper .predictive-search-title .predictive-search-title__content {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.52;
  letter-spacing: normal;
}
.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper .search_popular_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper .search_popular_menu a {
  margin: 0;
  padding: 8px 18px;
  font-family: "Inter", sans-serif;
}
.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper .predictive-search-item__title-text {
  margin-bottom: 10px;
  font-family: "Nexa Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper .predictive-search-item__price {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.site-header .site-header__icons .search-bar__interior .search-form__container .search-bar__form .search-form__input-wrapper .predictive-search-wrapper .search-bar__view-all-button-wrapper .search-bar__view-all {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
