/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-footer.scss ***!
  \****************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
@media screen and (min-width: 480px) {
  .site-footer__rte_bottom {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.okp_footer {
  box-shadow: 5px -5px 35px #8d8d8d;
}
@media (max-width: 1199px) and (min-width: 750px) {
  .okp_footer .site-footer__item {
    width: 100%;
  }
}
@media screen and (min-width: 750px) {
  .okp_footer .site-footer__item {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 749px) {
  .okp_footer .site-footer__item {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 749px) {
  .okp_footer .head_title__text_bg--font_mod {
    font-size: 24px;
  }
}
.okp_footer .follow-on-shop {
  margin: 0;
}
.okp_footer .site-footer__item .selectors-form {
  margin: 0;
}
.okp_footer .selectors-form {
  width: auto;
}
@media screen and (max-width: 479px) {
  .okp_footer .selectors-form {
    display: block;
  }
}
@media screen and (max-width: 479px) {
  .okp_footer .selectors-form:not(:last-child) {
    margin-bottom: 16px;
  }
}
.okp_footer .site-footer__item .selectors-form .disclosure__toggle svg {
  margin-left: 6px;
}
.okp_footer .selectors-form__item {
  margin: 0;
}
.okp_footer .site-footer__rte {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.okp_footer .site-footer__rte:not(:last-child) {
  margin-bottom: 16px;
}
.okp_footer .site-footer__rte p {
  font-size: inherit;
  font-weight: inherit;
}
@media screen and (min-width: 750px) {
  .okp_footer .site-footer__linklist-item {
    padding-bottom: 13px;
  }
}
@media screen and (max-width: 749px) {
  .okp_footer .site-footer__linklist-item {
    padding-bottom: 8px;
  }
}
.okp_footer .h5 {
  margin: 0;
}
@media screen and (min-width: 750px) {
  .okp_footer .h5:not(:last-child) {
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 749px) {
  .okp_footer .h5:not(:last-child) {
    margin-bottom: 16px;
  }
}
.okp_footer .site-footer__item-inner--newsletter .site-footer__rte + .site-footer__newsletter {
  padding-top: 10px;
}
.okp_footer .newsletter__submit.btn.btn--primary {
  background-color: #fb5f1b;
}
.okp_footer .newsletter__submit.btn.btn--primary:after {
  background-color: #bf3b00 !important;
}
.okp_footer .site-footer__item .selectors-form .disclosure__toggle {
  padding: 4px 12px;
  min-height: 36px;
}
.okp_footer .site-footer__newsletter .newsletter__input {
  color: #000000 !important;
}
.okp_footer .site-footer__newsletter .newsletter__input::-moz-placeholder {
  color: #8d8d8d !important;
}
.okp_footer .site-footer__newsletter .newsletter__input::placeholder {
  color: #8d8d8d !important;
}
.okp_footer .site-footer__newsletter:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 749px) {
  .okp_footer .site-footer__bottom_content {
    padding-top: 14px;
  }
}
.okp_footer .social-icons__link--email svg {
  fill: transparent !important;
}

.footer_bg__pic {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.footer_bg__pic:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.19), rgba(30, 29, 29, 0));
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
  content: "";
}

.footer_bg {
  position: static;
  position: initial;
}
@media screen and (max-width: 749px) {
  .footer_bg:not(.footer_bg--mob) {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  .footer_bg.footer_bg--mob {
    display: none;
  }
}

.okp_footer__contacts {
  display: flex;
  align-items: center;
  margin: 0 -10px -10px 0;
}

.okp_footer__contacts_item {
  padding: 0 10px 10px 0;
}

.okp_footer__contacts_email,
.okp_footer__contacts_phone {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  padding: 4px 14px;
  font-size: 12px;
  font-weight: 800;
  background-color: #c6e000;
  color: #000000;
  border-radius: 16px;
}

.okp_footer__copyright {
  flex: auto;
}
@media screen and (max-width: 749px) {
  .okp_footer__copyright {
    padding-left: 22px;
    margin-bottom: 12px;
  }
}
