/*!*************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-image-with-icon.scss ***!
  \*************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.icon-with-text--block_link {
  flex-direction: column;
  align-items: center;
}

.icon-with-text--block_link:hover .block_icon {
  box-shadow: 0 0 4px 2px #fb5f1b;
}

.block_info {
  transition: color 0.3s ease;
}
.icon-with-text--block_link:hover .block_info {
  color: #fb5f1b;
}
