/*!*************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-collection-list.scss ***!
  \*************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
@media screen and (min-width: 750px) {
  .opk_collection-list {
    padding-bottom: 160px;
  }
}
@media screen and (max-width: 749px) {
  .opk_collection-list {
    padding-bottom: 60px;
  }
}
.opk_collection-list .custom_page_header_section {
  max-height: 250px;
  padding-bottom: 55px;
}
.opk_collection-list .custom_page_header_section .page-width .page_header_heading {
  margin-bottom: 0;
  font-family: "NexaRustBlackShadow", sans-serif;
  font-weight: 900;
  line-height: 1.33;
  letter-spacing: -1px;
  text-transform: uppercase;
}
@media screen and (min-width: 750px) {
  .opk_collection-list .custom_page_header_section .page-width .page_header_heading {
    font-size: 60px;
  }
}
@media (max-width: 1199px) and (min-width: 750px) {
  .opk_collection-list .custom_page_header_section .page-width .page_header_heading {
    font-size: 48px;
  }
}
@media screen and (max-width: 749px) {
  .opk_collection-list .custom_page_header_section .page-width .page_header_heading {
    font-size: 34px;
  }
}
@media screen and (min-width: 750px) {
  .opk_collection-list .custom_page_header_section {
    margin-bottom: 95px;
  }
}
@media screen and (max-width: 749px) {
  .opk_collection-list .custom_page_header_section {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 750px) {
  .opk_collection-list .head_title__text {
    font-size: 60px;
  }
}
@media screen and (max-width: 749px) {
  .opk_collection-list .head_title__text {
    font-size: 34px;
  }
}
@media screen and (min-width: 750px) {
  .opk_collection-list .head_title__text .head_title__shadow {
    font-size: 60px;
  }
}
@media screen and (max-width: 749px) {
  .opk_collection-list .head_title__text .head_title__shadow {
    font-size: 34px;
  }
}
.opk_collection-list .grid__item .collection-grid-item__link {
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 20px;
}
.opk_collection-list .grid__item .collection-grid-item__image-wrapper {
  aspect-ratio: 1/1;
  position: static;
  position: initial;
  max-width: 160px !important;
  max-height: 160px !important;
  border-radius: 50%;
  overflow: hidden;
  transform: none;
  transform: initial;
}
.opk_collection-list .grid__item .collection-grid-item__image-wrapper div {
  display: flex;
}
.opk_collection-list .grid__item .collection-grid-item__title {
  font-family: "Nexa Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.23;
}
.opk_collection-list .grid__item .collection-grid-item-products-count {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #8d8d8d;
}
.opk_collection-list .grid__item .collection-grid-item__button_wrapper .btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 800;
}
