/*!*******************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-countdown.scss ***!
  \*******************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.opk_countdown .btn--secondary {
  background-color: #fb5f1b;
  border-color: #fb5f1b;
}
.opk_countdown .btn--secondary::after {
  background-color: #bf3b00;
}
.opk_countdown .btn--secondary.btn:not([disabled]):hover {
  background-color: #bf3b00;
}

.opk_countdown__title {
  line-height: 1;
}
.opk_countdown__title:not(:last-child) {
  margin-bottom: 24px;
}
