/*!******************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/sections/opk-main-404.scss ***!
  \******************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ==================================================== LAYOUTS ==================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
.template-404 .page-404-content {
  padding: 30px 0 60px;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .template-404 .page-404-content {
    padding: 20px 0 100px;
  }
}
@media screen and (min-width: 1200px) {
  .template-404 .page-404-content {
    padding: 60px 0 165px;
  }
}
.template-404 .page-404-content .error-logo {
  width: 100%;
  max-width: 530px;
  margin-bottom: 18px;
}
@media screen and (min-width: 1200px) {
  .template-404 .page-404-content .error-logo {
    margin-bottom: 40px;
  }
}
.template-404 .page-404-content .head_title__text_bg {
  margin-bottom: 0;
}
@media screen and (min-width: 750px) {
  .template-404 .page-404-content .head_title__text_bg {
    font-size: 230px;
  }
}
@media screen and (max-width: 749px) {
  .template-404 .page-404-content .head_title__text_bg {
    margin-bottom: 15px;
    font-size: 100px;
  }
}
.template-404 .page-404-content h3 {
  max-width: 475px;
  margin: 0 auto 12px;
  font-family: "Nexa Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.5px;
}
@media screen and (min-width: 1200px) {
  .template-404 .page-404-content h3 {
    font-size: 32px;
  }
}
.template-404 .page-404-content p {
  max-width: 475px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -1px;
}
@media screen and (min-width: 1200px) {
  .template-404 .page-404-content p {
    font-size: 18px;
  }
}
.template-404 .page-404-content .btn_wrapper {
  margin: 18px 0 0;
}
.template-404 .page-404-content .btn--primary {
  justify-content: space-between;
  margin: 0;
  padding: 13px 24px;
  max-width: 335px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 800;
  background-color: #fb5f1b;
  transition: background-color 0.3s ease;
}
.template-404 .page-404-content .btn--primary:hover {
  background-color: #bf3b00;
}
.template-404 .page-404-content .btn--primary:after {
  background-color: #bf3b00;
}
@media screen and (min-width: 1200px) {
  .template-404 .page-404-content .btn--primary {
    max-width: 220px;
  }
}
.template-404 .page-404-footer {
  display: none;
}
