/*!**************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/sections/template-example.scss ***!
  \**************************************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
/* ==================================================== LAYOUTS ==================================================== */
.example-snippet {
  width: 100%;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 25px;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.example__title {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
