@import '../variables.scss';

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_robota;

	cursor: pointer;
	// border: transparent;

	&[type='submit'] {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:disabled {
		cursor: default;
		pointer-events: none;
	}
}

//color mixins:
@mixin btn_style_black {
	font-weight: 700;
	color: $white;
	background-color: $black;
	transition: background-color 0.3s ease, color 0.3s ease;
	border: 1px solid $black;
	text-transform: uppercase;

	@include st_btn;

	&:hover {
		background-color: transparent;
		color: $black
	}

	&:disabled {
		background: gray;
		color: $black;
	}
}

//size mixins:
@mixin btn_size_normal {
	padding: 0 20px;

	min-height: 50px;

	line-height: 50px;
	font-size: 18px;

	border-radius: 8px;
}