@import '../mixins.scss';
@import '../variables.scss';

.drop {
    position: relative;    
}

.drop__btn {
    display: inline-flex;
    align-items: center;
    background-color: transparent;   
    cursor: pointer;
    
    @include breakPoints($tablet) {
        width: 100%;
        justify-content: space-between;
    }
}

.drop__btn_text {
    font-size: 18px;
    font-style: normal;  
}

.drop__btn_icon {
    display: block;
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease;

    .active & {
        transform: rotate(180deg);
    }
    
    .drop:hover & {
        @include breakPoints($tablet, min) {
            transform: rotate(180deg);
        }        
    }
}

.drop_menu {
    transition: max-height 0.5s ease;    
    overflow: hidden;
    
    @include breakPoints($tablet, min) {
        position: absolute;
        left: 0;        
        width: 180px;

        transform: translateX(-2rem) scaleX(1.4) scaleY(1);
        transform-origin: 100% 50%;        
        opacity: 0;
        pointer-events: none;

        background-color: $white;
        box-shadow: 0px 1px 14px 2px rgba(76, 89, 119, 0.3);        
        overflow: hidden;        
        
        transition: all 0.15s ease-out;
    }

    @include breakPoints($tablet) {
        max-height: 0;
    }   

    .drop:hover & {
        @include breakPoints($tablet, min) {
            opacity: 1;
        }
    }
}

.drop_menu__list {
    @include breakPoints($tablet, min) {
        padding: 18px 10px;
    }

    @include breakPoints($tablet) {
        padding-top: 18px;
    }
    
}

.drop_menu__item {
    &:not(:last-child) {
        margin-bottom: 14px;
    }
}

.drop_menu__link {
    font-size: 16px;
    font-style: normal;
    color: $black;
    
    transition: opacity 0.3s ease;

    &:hover {
        @include breakPoints($tablet, min) {
            opacity: 0.6;
        }
    }
}